import /tee.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "11201000.usb0"
    setprop sys.usb.ffs.aio_compat 1

# We need vold early for metadata encryption
on early-fs
    start vold

on late-fs
    # Wait for keymaster
    exec_start wait_for_keymaster

on fs
    install_keyring
    write /sys/class/power_supply/usb/otg_switch 1
    write /sys/class/oplus_chg/usb/otg_switch 1

on post-fs
    start boot-1-1
    start mtk.plpath.utils.link

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    oneshot
    disabled
    seclabel u:r:recovery:s0
		
	
# Start Daemon (Registry directories should already be present)
service mobicore /vendor/bin/mcDriverDaemon --sfs-reformat --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/05120000000000000000000000000001.drbin \
	-r /vendor/app/mcRegistry/05160000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/03100000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/031c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/032c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/033c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/034c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/035c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/036c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/037c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
	-r /vendor/app/mcRegistry/070c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/090b0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/0f5eed3c3b5a47afacca69a84bf0efad.drbin \
	-r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
	-r /vendor/app/mcRegistry/4be4f7dc1f2c11e5b5f7727283247c7f.drbin \
	-r /vendor/app/mcRegistry/08070000000000000000000000008270.drbin \
	-r /vendor/app/mcRegistry/07070000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/07407000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin \
	-r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin
    user root
    group root
    class core
    priority -20
    disabled
    seclabel u:r:recovery:s0	
	
service vendor.keymint-trustonic /vendor/bin/hw/android.hardware.security.keymint-service.trustonic
    class early_hal
    user nobody
    seclabel u:r:recovery:s0
	
service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user root
    group root
	disabled
    seclabel u:r:recovery:s0
	
on property:vendor.sys.listeners.registered=true
    start mobicore
    start vendor.keymint-trustonic
    start vendor.gatekeeper-1-0	
	
on property:hwservicemanager.ready=true
    start mobicore
    start vendor.keymint-trustonic
    start vendor.gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop vendor.keymint-trustonic
    stop vendor.gatekeeper-1-0

on property:ro.crypto.state=unencrypted
     stop mobicore
    stop vendor.keymint-trustonic
    stop vendor.gatekeeper-1-0

on property:ro.crypto.state=encrypted
    stop mobicore
    stop vendor.keymint-trustonic
    stop vendor.gatekeeper-1-0
    

on property:twrp.decrypt.done=true
    stop mobicore
    stop vendor.keymint-trustonic
    stop vendor.gatekeeper-1-0

on property:crypto.ready=0
    stop mobicore
    stop vendor.keymint-trustonic
    stop vendor.gatekeeper-1-0

on property:sys.usb.config=fastboot
    start servicemanager
    start hwservicemanager
    restart fastbootd

on post-fs-data
    mkdir /data/vendor_de 0770 system system
    mkdir /data/vendor_de/0 0770 system system
    
on boot
    start health-hal-2-1
    setprop sys.usb.config adb
	
	
